<!DOCTYPE html>
<html lang="ko">
<head>
<style>
    body{font: 12px "굴림", Gulim; width: 500px; margin: 10px;}
    h1 {background: lightgray; text-align: center;}
    li{list-style-type: none; float: left; width: 100; text-align: center;}
    h2{width: 100px; height: 80%;}
    .a {background: red;}
    /* .c{}
    .d{} */
    p{text-align: justify;}
</style>
<meta charset="UTF-8">
<title></title>
</head>
<body>
    <h1>나의 아름다운 정원</h1>
    <div>
        <p>사람들 아마 자신에게 자신감을 북돋워 주는 표정 있는 꽃들을 선호할 것이다</p>
        <ul>
            <li class="a">
                <h2>튜울립</h2>
                <p>너무 화려하지 않으며 고귀한 느낌을 가지고 있다 붉은색이 단연 으뜸이며 한 송이만 있어도 뺴어나다</p>
            </li>
            <li class="b">
                <h2>제비꽃</h2>
                <p>ㅁㅁㅁㅁㅁㅁㅁㅁ</p>
            </li>
            <li class="c">
                <h2>호박꽃</h2>
                <p>ㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ</p>
            </li>
            <li class="d">
                <h2>해바라기</h2>
                <p>ㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁㅁ</p>
            </li>
        </ul>
    </div>
</body>
</html>