<!DOCTYPE html>
<html lang="ko">
<head>
<style>
    * {margin: 0; padding: 0;}
    body{width: 600px;}
    #header{border: 2px solid gray; height: 100px;}
    #body{border: 2px solid gray; height: 300px;}
    #footer{clear: both; border: 2px solid gray; height: 100px;}
    #sideleft{float: left; border: 1px solid gray; width: 100px; height: 300px;}
    #content{float: left; border: 1px solid gray; width: 394px; height: 300px;}
    #sideright{float: right; border: 1px solid gray; width: 100px; height: 300px;}
</style>
<meta charset="UTF-8">
<title>layout-quiz</title>
</head>
<body>
    <div>
        <div id="header">
            header
        </div>
        <div id="sideleft">
            sidebar
        </div>
        <div id="content">
            content
        </div>
        <div id="sideright">
            sidebar
        </div>
        <div id="footer">
            footer
        </div>
    </div>
</body>
</html>